@import '../general.scss';
.chat{
    background-color: $background-main;

    display: grid;
    grid-template-columns: minmax(120px, 250px) 1fr;
    height: 100vh;
    max-width: 1500px;
    margin: 0 auto;

    

    &__mainsection{
        height: 100%;
        position: relative;
        display: grid;
        grid-template-rows: 1fr 60px;
        background-color: white;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: url("../assets/pattern.png");
            filter: contrast(0.4) opacity(0.8) invert(34%) sepia(79%) saturate(4376%) hue-rotate(202deg) brightness(104%) contrast(103%);
            width: 100%;
            height: 100%;
            pointer-events: none;

        }
    }

    &__body{
        height: 100%;
        display: flex;
        
        z-index: 10;

        .hamburger__bars{
                display: inline-block;
                max-width: 25px;
                visibility: hidden;
                cursor: pointer;
            
        }

        &__header{
            padding: 0 1rem;
            position: fixed;
            left: 0;
            width: 100%;
            z-index: 100;
            height: 50px;
            background: white;
            box-shadow: 0px 0px 3px #6f6f6f;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            button{
                font-weight: 700;
            }
        }
    }

    &__input{
        // position: absolute;
        // bottom: .5rem;
        width: 100%;
        background-color: #eaeaea;
        padding: .5rem;
        z-index: 10;
        box-shadow: 2px -1px 5px #9c9c9c;
        

        form{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 50px;
            gap: .5rem;

            input{
                background-color: #eaeaea;
                border: none;
                padding: .5rem;
                z-index: 10;
                border-radius: 10px;
                outline: none;
            }
        }

        .message__text{

        }

        

        button{
            width: 40px;
            
            background-color: $background-main;
            border: none;
            border-radius: 100px;
        }
        img{
            width: 100%;
            padding: .5rem;
        }
    }


    &__body{
        display: grid;
        grid-template-rows: 50px 1fr;

        &__message__chat__container{
            display: flex;
            flex-direction: column;
            justify-content: end;
            overflow: hidden;
            position: relative;
            grid-row: 2;

            .hero{
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                right: 4px;
                bottom: 22px;
                padding: 10px;
                overflow-y: auto;
                flex-direction: column;
                display: flex;

                @keyframes smsani {
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }

                .message{
                    margin-bottom: 1.2rem;
                    padding: .75rem;
                    position: relative;
                    border-radius: 13px;
                    animation: smsani .1s  ease-in;
                    box-shadow: -1px 2px 3px #c7c7c7;
                }

                .message_time{
                    position: absolute;
                    right: 0;
                    color: gray;
                    font-size: 12px;
                    top: calc(100% + 2px);

                }

                .message__img{
                    height: 35px;
                    width: 35px;
                    position: absolute;
                    top: 50%;
                }

                .sender{
                    text-align: right;
                    width: 42%;
                    align-self: flex-end;
                    background-color: $background-main;
                    border-bottom-right-radius: 0;
                    color: white;

                    .message__img{
                        left: 0;
                        transform: translateX(-120%) translateY(-50%);
                    }
                }

                .receiver{
                    background-color: $background-second;
                    width: 42%;
                    min-width: 250px;
                    text-align: left;
                    border-bottom-left-radius: 0;

                    .message__img{
                        right: 0;
                        transform: translateX(120%) translateY(-50%);
                    }
                }
            }
        }
    }
    .leave__chat{
        background: none;
        border: none;
        text-align: left;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
            color: $background-main;
        }
    }

    .chat_bar{
        
        color: white;
        z-index: 10;
        padding: calc(50px + 1rem) 1rem;

        h4{
            margin-bottom: 1rem;
            font-size: 1.7rem;
            font-weight: 500;
            padding: 1rem;
        }
    }

    .chat__users__user{
        display: flex;
        align-items: center;
        font-weight: 700;
        // margin-bottom: 1rem;
        padding: 1rem;
        background: white;
        color: #404040;
        border-radius: 5px;
            box-shadow: inset -1px 5px 5px #cdcdcd;
            margin-bottom: 1rem;
    }


    .icon-img{
        width: 40px;
        margin-right: 10px;
    }

    .close__user__bar{
        display: none;
    }

    .send-sms{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        p{
            background-color: #eaeaea;
            padding: .25rem .5rem;
            border-radius: 15px;
            font-size: 12px;
            font-weight: 700;
            box-shadow: -1px 2px 3px #c7c7c7;
        }
    }
}


@media (max-width:600px) {
    .chat{
        display: flex;
        

        .chat_bar{
            position: fixed;
            right: -100%;
            width: 100%;
            height: 100%;
            transition: .5s ease;
            z-index: 12;
            padding-top: 1rem;
            background-color: $background-main;
            .close__user__bar{
                    
                margin-bottom: 1rem;
            }
            
            &--active{
                right: 0;
                height: 100%;
                transition: .5s ease;

                
            }
        }

        &__mainsection{
            width: 100%;
        }

        &__body{
            .chat__body__header{
                display: grid;
                justify-content: space-between;
                box-shadow: 0px 0px 3px #6f6f6f;
            }
            .hamburger__bars{
                display: inline-block;
                max-width: 25px;
                visibility: visible;
                margin-left: auto;
            }
        }

        .close__user__bar{
            display: block;
            padding-left: 1rem;
            cursor: pointer;
        }
    }
}

